*{

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /*background: rgba(0,0,0,0.1);*/
    transition: background-color 200ms;
}

body {
    font-size: 14px;
    color: #444;
    background-color: #efefef;

}

.container {
    max-width: 1080px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
img {
    display: block;
    max-width: 100%;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.clear-float:after,
.clear-float:before{
    content: "";
    display: block;
    clear: both;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9 {
    display: block;
    min-height: 1px;
    position: relative;
    float: left;
}
.col-1 {
    width: 10%;
}.col-2 {
    width: 20%;
}.col-3 {
    width: 30%;
}.col-4 {
    width: 40%;
}.col-5 {
    width: 50%;
}.col-6 {
    width: 60%;
}.col-7 {
    width: 70%;
}.col-8 {
    width: 80%;
}.col-9 {
    width: 90%;
}
 .top-nav {
     background-color: #cccccc;
 }
 .top-nav .item {
     display: inline-block;
     padding: 10px 10px;
 }
 .header {
     padding: 20px  0px;
     margin: 20px;

 }
 .header .logo {
     font-size: 30px;
     padding-bottom: 10px;
 }
 .header .seach-bar {
     border: 2px solid #f08f82;
 }
 .header .seach-bar input,button {
     border: none;
     padding: 10px;
     display: inline-block;
     float: left;
     outline: 0;
 }
 .header .seach-bar input {
     width: 80%;
 }
 .header .seach-bar button {
     width: 20%;
     background-color: #f09083;
     color: #eeeeee;
 }
.header .seach-bar button:hover {
    background-color: #cf332b;
}
.header .cart {
    text-align: center;
}
.header .cart a {
    float: right;
    text-align: center;
    padding: 10px;
    background-color: #eeeeee;
    width: 80%;
    color: #f06853;
    border: 2px solid #e6e6e6;
 }
.main-promote {
    background-color: #d9d6b9;
}
.main-promote .cat {
    background-color: #635e5c;
    color: #ffffff;
}
.main-promote .cat .item {
    padding: 10px 20px;
}
.main-promote .cat .item:hover {
    background-color: rgba(0,0,0,0.4);
}

.main-promote .info{
    padding: 10px;
    line-height: 50px;
    background-color: #b9fff0;

}
.main-promote .auth {
    padding: 20px 20px;
    text-align: center;
}
.main-promote .avatar{
    width: 50px;
    height: 50px;
    background-color: #89d0d1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    float: left;
}
.cat-promote .title {
    font-size: 25px;
    padding-left: 10px;
    margin: 10px;
    color: #484848;
}
.cat-promote .item {
    padding: 5px;

}
.cat-promote .card {
    height: 300px;
    background-color: #b184b4;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

}
.footer  {
    text-align: center;
    background-color: #8792a6;
    margin: 10px;
    height: 70px;
    line-height: 30px;
    color: #000;
}
.footer  a{
    color: #642220;
    padding: 5px;
}